extends ./common/base
block header
    link(rel='stylesheet', href='/stylesheets/articles.css')
    link(rel='stylesheet', href='/stylesheets/wul.css')

block content
    form(action='/articles/edit' method='POST' id='va_art_form' enctype='multipart/form-data')
        p.va_art_area
            lable(for='title') 作品名称
            input(type='text' name='title' id='title')
        p.va_art_area
            lable(for='classify_first') 作品分类
            select(type='text' name='classify_first' id='classify_first')
                option(value='0') 临摹作品
                option(value='1') 原创作品
            select(type='text' name='classify_second' id='classify_second')
                option(value='0') 平面作品
                option(value='1') GUI作品
                option(value='2') 手绘作品
        p.va_art_area
            lable(for='description') 作品说明
            textarea(type='text' name='description' id='description')
        div.va_art_area
            lable(for='images') 上传图片
            #images
                #fileList.uploader-list
                #filePicker 选择图片
        div.va_art_area
            lable(for='description') 封面
            #shortcutImg
                #shortcut
                #scfile 选择封面
        p.va_art_area
            lable(for='date') 创作时间
            input(type='date' name='date' id='date')
        p.va_art_area.va_art_safe
            lable(for='isSafe') 防盗设计
            input(type='checkbox' name='safe' id='isSafe')
            span 防盗链
        p.va_art_area
            lable(for='authorization') 作品授权
            select(for='authorization' id='authorization' name='authorization')
                option(name='0') 禁止商业使用
        p.va_art_area
            lable(for='next')
            input(type='submit' value='下一步' id='next')
block footer
    script(src='/javascripts/wul1.js')
    script.
        var $list = $('#fileList');
        var $sclist = $('#shortcut');
        /**
         * 上传封面
         * */
        var scuploader = WebUploader.create({
            server: '/articles/uploadsc',
            pick: '#scfile',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            auto: true,
            runtimeOrder: 'html5',
            chunked: true
        });

        /**
         * 上传作品
         * */
        var uploader = WebUploader.create({
            disableGlobalDnd: true,
            server: '/articles/upload',
            pick: '#filePicker',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            thumb: {
                width: 130,
                height: 110
            },
            auto: true,
            runtimeOrder: 'html5',
            chunked: true
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
        var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                    '</div>'),
            $img = $li.find('img');

            // $list为容器jQuery实例
            $list.append($li);

            var thumbnailWidth = thumbnailHeight = 100;
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                    $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                        .appendTo($li)
                        .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file) {
            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                    $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });

        /**
         * 封面
         * */
        scuploader.on('fileQueued', function (file) {
            var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' +
                            '<img>' +
                            '<div class="info">' + file.name + '</div>' +
                            '</div>'),
                    $img = $li.find('img');

            // $list为容器jQuery实例
            $sclist.append($li);

            var thumbnailWidth = thumbnailHeight = 100;
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });