extends base

block content
  form(action='/login' method='POST')
    lable(for='username') 用户
    input(type='text' name='username' id='username')

    lable(for='password') 密码
    input(type='text' name='password' id='password')

    input(type='submit' value='确认' id='submit')
  div(class='vs_hd_btn')
  a(href='/users/aboutme') 关于我

  a(href='/users/pinfo') 编辑个人信息
  script.



