extends layout

block content
    div(class="vs_wrap")
        header
            div(class='vs_hd_btn vs_hd_mn vs_login')
                if (username)
                    span #{username}
                else
                    span 登录

                ul.vs_hd_menu
                    li.vs_hd_editart
                        a(href='/users/articles') 编辑作品
                    li.vs_hd_pinfo
                        a(href='/users/pinfo') 个人信息

            span(class='vs_hd_btn iconfont vs_hd_search') &#xe602;
            span(class='vs_hd_btn iconfont') &#xe629;


        p(class='vs_title') 越努力，越幸运

        article(class='vs_des')
            span(class='vs_des_fwd') Yesterday
            span  is a memory tommorrow is a dream so live for today just do it right now. I believe if you can dream it you can make it, if you do you will win if you don't you won't believe in youself trust youself try your best. don't give up,never give in, never lose hope,never say impossible.

        p
            a(href='/users/aboutme' class='vs_aboutme') More about me

        article(class='vs_bg_word')
            section(class='vs_articles')
                div(class='vs_arts_wrap')
                    div(class='vs_arts_ctt')
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                    div(class='vs_arts_ctt')
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面
                        div(class='vs_art_items')
                            div(class='vs_art_img')
                                img(src='http://dummyimage.com/600x400/000/fff')
                                div(class='vs_art_shadow')
                                    p(class='vs_items_title') 作品名称
                                    p(class='vs_items_sddes') 作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介作品简介
                                    p(class='vs_items_pubtime') 发布时间：
                                        span 2小时前
                            p(class='vs_items_maintitle') 原创作品-平面


                div(class='vs_more_ctt')
                    button(class='vs_getmore') 加载更多

        section(class='vs_login_shadow')
            article(class='vs_login_logincenter')
                form(method='POST' action='javascript:void' id='vs_login_form')
                    p(class='vs_logipts')
                        span(class='vs_login_nameicon')
                        input(type='text' value='' placeholder='用户名' name='username' id='username')
                    p(class='vs_logipts')
                        span(class='vs_login_pdicon')
                        input(type='password' value='' placeholder='密码' name='password' id='password')
                    input(type='button' value='登录' id='vs_login_submit')


block bodybottom
    script(src='/javascripts/j220.min.js')
    script.
        var $shadowEle = $('.vs_login_shadow');
        var $vsLogin = $('.vs_login');
        $vsLogin.on('click', function () {
            $shadowEle.show().addClass('vs_login_show');
        });

        $('.vs_hd_mn').hover(function (e) {
            $(this).find('.vs_hd_menu').show().addClass('vs_login_show');
        }).on('mouseleave', function (e) {
            $(this).find('.vs_hd_menu').removeClass('vs_login_show').hide();
        });

        $('#vs_login_submit').on('click', function () {
            var $submitEle = $(this);
            var uname = $('#username').val();
            var $pwd = $('#password');
            var pwdText = $pwd.val();

            if (!uname || !pwdText) {
                $pwd.attr('placeholder', '用户名或密码错误').val('');
            }
            else {
                $submitEle.attr('disabled', 'disabled');
                $.ajax({
                    type: 'post',
                    url: '/login',
                    data: {
                        username: uname,
                        password: pwdText
                    }
                }).done(function (rs) {
                    if (rs && rs.status === 0) {
                        var data = rs.data;
                        // 登录成功
                        if (data.logined) {
                            $shadowEle.removeClass('vs_login_show').hide();
                            $vsLogin.find('span').text(data.username);
                        }
                        // 用户名或密码错误
                        else {
                            $pwd.attr('placeholder', '用户名或密码错误').val('');
                        }
                    }
                }).always(function (){
                    $submitEle.removeAttr('disabled');
                });
            }
        });