.vs_about_icon{
    position: relative;
    width: 10rem;
    border: 1px solid rgb(32,182,250);
    padding: 1.5rem;
    color: rgb(32,182,250);
}
.vs_abicon_hd{
    font-size: 4rem;
    margin: 0;
}
.vs_abicon_subhd{
    margin: 1rem 0 0 0;
}
.vs_abicon_sign{
    position: absolute;
    width: 5.5rem;
    height: 3.5rem;
    background-color: rgb(32,182,250);
    right: -1.5rem;
    bottom: -1.5rem;
    border: .5rem solid rgb(255,255,255);
}
.vs_about_info{
    position: relative;
    width: 75%;
    margin: 5rem auto;
}
.vs_about_info>div:first-child {
    width: 34%;
}
.vs_about_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
}
.vs_about_infoarea{
    position: absolute;
    top: 0;
    padding-left: 37%;
}
.vs_about_inforow{
    margin: 0;
    line-height: 2rem;
}
.vs_about_inforow>span:first-child {
    font-weight: bold;
}

