.vs_wrap{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.6rem;
}

.vs_title{
    font-family: 'webfont';
    font-size: 8rem;
    text-align: center;
    color: #3B3936;
    margin: 9rem 0;
}
.vs_des{
    line-height: 1.92rem;
}
.vs_des_fwd{
    font-size: 2.2rem;
}
.vs_aboutme{
    font-size: 1.6rem;
    line-height: 4.8rem;
    background-color: rgb(32,182,250);
    color: #FFF;
    width: 19.2rem;
    border: none;
    position: relative;
    left: 50%;
    margin: 5rem 0 0 -9.6rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.vs_bg_word{
    font-weight: bold;
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url(/images/article.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5rem;
}
.vs_articles{
    position: relative;
    top: 16.2rem;
    background-color: rgb(255,255,255);
}
.vs_arts_wrap{
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}
.vs_art_items{
    -webkit-box-flex: 1;
    height: 16.6rem;
    background-color: rgb(242,249,252);
    padding: .8rem;
    margin: 0 .48rem;
}
.vs_arts_ctt{
    display: -webkit-box;
    margin-top: 1rem;
}
.vs_art_items img{
    width: 100%;
}
.vs_art_shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(201,214,223,0);
    color: rgba(82,97,107,0);
    -webkit-transition: all .5s;
    transition: all .5s;
}
.vs_art_shadow p{
    margin: 0;
    line-height: 1.4em;
    color: rgba(30, 32, 34, 0);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.vs_art_items>div{
    position: relative;
    height: 175px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.vs_art_items:hover .vs_art_shadow{
    background-color: rgba(242,249,252, .9);
    color: rgba(242,249,252,1);
}
.vs_art_items:hover .vs_items_title{
    color: #3B3936;
}
.vs_art_items:hover .vs_items_sddes,.vs_art_items:hover .vs_items_pubtime{
    color: #526166;
}
.vs_items_maintitle{
    color: #444;
    margin: 7px 0;
}

.vs_getmore{
    position: relative;
    border: none;
    width: 80%;
    height: 4rem;
    line-height: 4rem;
    background-color: rgb(32,182,250);
    color: #FFF;
    margin: 3.6rem 0 5rem 0;
    left: 50%;
    margin-left: -40%;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.vs_art_items:first-child {
    margin-left: 0;
}
.vs_art_items:last-child{
    margin-right: 0;
}
.vs_more_ctt{

}
.vs_items_pubtime{
    position: absolute;
    bottom: 1rem;
    white-space: normal;
}
.vs_items_sddes{
    font-size: 1.28rem;
    height: 8.2em;
    overflow: hidden;
}
