
/* 登录 */
.vs_login_shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(82,97,107);
    background-image: -webkit-radial-gradient(rgb(240,245,249)3%,rgb(82,97,107));
}
.vs_login_logincenter{
    position: absolute;
    width: 20rem;
    padding: 2rem;
    margin: 0 auto;
    top: 50%;
    margin-top: -5rem;
    left: 50%;
    margin-left: -10rem;
    box-shadow: 0 0 50px rgba(39, 48, 53,.6);
    background-color: rgb(240,245,249);
}
.vs_logipts{
    border-bottom: 1px solid rgb(82,97,107);
}
.vs_login_nameicon{

}
.vs_login_pdicon{

}
#vs_login_submit{
    border: none;
    background-color: rgb(82,97,107);
    width: 100%;
    line-height: 2.5rem;
    color: rgb(240,245,249);
    letter-spacing: .5rem;
    font-size: 1.4rem;
    outline: none;
}
.vs_logipts input {
    border: none;
    line-height: 2.5rem;
    width: 18rem;
    background-color: rgb(240,245,249);
    color: rgb(82,97,107);
    outline: none;
}
.vs_hidden{
    display: none;
}
.vs_login_show{
    -webkit-animation: login_show .6s;
    animation: login_show .6s;
}
@-webkit-keyframes login_show {
    0%{
        display: block;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.vs_hd_mn{
    position: relative;
}

.vs_hd_menu{
    position: absolute;
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: rgb(82,97,107);
    color: rgb(201,214,223);
    font-size: 1.5rem;
}
.vs_hd_menu a{
    display: block;
    color: inherit;
    text-decoration: none;
}
.vs_hd_menu>li{
    padding: 0 1rem;
    border-bottom: 1px solid;
    line-height: 3rem;
}
.vs_hd_mn:hover .vs_hd_menu{
    -webkit-animation: login_show .6s;
    animation: login_show .6s;
}