doctype html
html(lang='en')
   head
      title
      meta(charset='UTF-8')
      link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')
      link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
      link(rel='stylesheet', type='text/css', href='/stylesheets/header.css')
      block header
   body
      div.vs_hd_part
        header.vs_header_wrap
          span.vs_hd_btn.iconfont.vs_hd_search 
          span.vs_hd_btn.vs_hd_showmenu
            b
            b
            b
      block content
      script(src='/javascripts/j220.min.js')
      block footer
      div.vs_menu_silide
        ul.vs_menu_ul
          li.vs_li_title
            p
                a(href='/') 主页
            p
                a(href='/') Main page
          li.vs_li_title
            p
              a(href='javascript:void(0);') 作品集
            p
              a(href='javascript:void(0);') articles
          li
            p
              a(href='') GUI作品集
            p
              a(href='') GUI Collections
          li
            p
              a(href='') 手绘作品集
            p
              a(href='') Hand-painted Collections
          li
            p
              a(href='') 平面作品集
            p
              a(href='') Graphic Collections
          li.vs_li_title
            p
              a(href='/users/aboutme') 关于我
            p
              a(href='/users/aboutme') More about me
          if username
              li.vs_li_title
                  p
                      a(href='javascript:void(0);') 编辑
                  p
                      a(href='javascript:void(0);') Edit
              li
                p
                  a(href='/articles/edit') 编辑作品
                p
                  a(href='/articles/edit') Edit articles
              li
                p
                  a(href='/users/edit') 编辑个人信息
                p
                  a(href='/users/edit') Edit personal info
          section.vs_menu_tree
      script.
            $('.vs_menu_silide').height($(window).height());
            $header_wrap = $('.vs_header_wrap');
            var $body = $('body');
            $('.vs_hd_showmenu').on('click', function () {
                $body.toggleClass('vs_ftrans');
                $header_wrap.toggleClass('vs_show_type');
            });
  