<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
    <title>VS</title>
    {% block header %}{% endblock %}
</head>
<body>
<header class="vs_header_wrap">
    <span class="vs_hd_btn iconfont vs_hd_search">&#xe602;</span>
    <span class="vs_hd_btn vs_hd_showmenu">
      <b></b><b></b><b></b>
    </span>
</header>

{% block content %}{% endblock %}
<script src="/static/js/j220.min.js"></script>
{% block footer %}{% endblock %}
<div class="vs_menu_silide">
    <ul class="vs_menu_ul">
        <li class="vs_li_title">
            <p><a href="/index/info">关于我</a></p>
            <p><a href="/index/info">More about me</a></p>
        </li>
        <li>
            <p><a href="/index/info">联系我</a></p>
            <p><a href="/index/info">contact me</a></p>
        </li>
        <li class="vs_li_title">
            <p><a href="">作品集</a></p>
            <p><a href="">articles</a></p>
        </li>
        <li>
            <p><a href="">GUI作品集</a></p>
            <p><a href="">GUI Collections</a></p>
        </li>
        <li>
            <p><a href="">手绘作品集</a></p>
            <p><a href="">Hand-painted Collections</a></p>
        </li>
        <li>
            <p><a href="">平面作品集</a></p>
            <p><a href="">Graphic Collections</a></p>
        </li>
        {% if isLogined%}
        <li class="vs_li_title">
            <p><a href="/article/edit">编辑作品</a></p>
            <p><a href="/article/edit">Edit articles</a></p>
        </li>
        <li class="vs_li_title">
            <p><a href="/index/info">编辑个人信息</a></p>
            <p><a href="/index/info">Edit personal info</a></p>
        </li>
        {% endif %}
        <section class="vs_menu_tree"></section>
    </ul>

</div>
<script>
    $('.vs_menu_silide').height($(window).height());
    $header_wrap = $('.vs_header_wrap');
    var $body = $('body');
    $('.vs_hd_showmenu').on('click', function () {
        $body.toggleClass('vs_ftrans');
        $header_wrap.toggleClass('vs_show_type');
    });
</script>
</body>
</html>